@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-1: #0f172a; /* 900  slate*/
  --primary-color-2: #1e293b; /* 800 */
  --primary-color-3: #334155; /* 700 */
  --primary-color-4: #475569; /* 600 */

  --secondary-color-1: #86efac; /* 300 green */
  --secondary-color-2: #4ade80; /* 400 */
  --secondary-color-3: #16a34a; /* 600  */
  --secondary-color-4: #22c55e; /* 500 */

  --tertiary-color-1: #16a34a; /* 600  green*/
  --tertiary-color-2: #22c55e; /* 500 */
  --tertiary-color-3: #4ade80; /* 400 */
  --tertiary-color-4: #86efac; /* 300 */
}
body {
  background-image: url(/assets/img-11.jpg);
  overflow-x: hidden;
}
h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
.my-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 80% 100%, 21% 100%, 0 70%);
}
