@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 /* slate */
  --primary-color-900: #0f172a; /* 900  */
  --primary-color-800: #1e293b; /* 800 */
  --primary-color-700: #334155; /* 700 */
  --primary-color-600: #475569; /* 600 */
  --primary-color-300: #cbd5e1; /* 600 */

  
  /* green */
  --secondary-color-300: #86efac; /* 300  */
  --secondary-color-400: #4ade80; /* 400 */
  --secondary-color-500: #22c55e; /* 500 */
  --secondary-color-600: #16a34a; /* 600  */

  --color-black: black; /*   */
  --color-white: white; /*   */
  --color-gray: #9ca3af
  ; /*   */
  
}
body {
  background-image: url(/assets/img-7.jpg);
  overflow-x: hidden;
}
h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
.my-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 80% 100%, 21% 100%, 0 70%);
}
